/* Styles which apply to several areas of the page */

:root {
    --main-purple: #7d4fcc;
    --light-purple: #f5f0ff;
    --dark-gray: #444053;
    --mid-gray: #5d5a72;
    --light-gray: #e6e8ec;

    --title-font:  'Pacifico', cursive;
    --body-font: 'Josefin Slab', serif;
}

.hidden {
    display: none;
}

.sub-title {
    font-family: var(--title-font);
    color: var(--dark-gray);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.res-img {
    width: 100%;
    height: auto;
    max-width: 35vw;
    margin-top: 5rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 5rem;
}

/* Styles related to the title area */

.calc-intro {
    font-family: var(--body-font);
    color: var(--dark-gray);
    font-size: 1.25rem;
    margin: 2rem auto;
    width: 90vw;
    text-align: center;
    line-height: 1.5rem;
}

.title {
    font-family: var(--title-font);
    color: var(--main-purple);
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

/* Styles related to the 'calculate tips' area of the page */

.tip-form {
    background-color: var(--light-purple);
    padding: 2rem;
    border-radius: 20px;
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
}

#my-form {
    font-family: var(--body-font);
    color: var(--dark-gray);
    font-size: 1.25rem;
    line-height: 1.75rem;
}

#my-form h3 {
    font-family: var(--body-font);
    color: var(--main-purple);
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
}

#submit-btn {
    font-family: var(--title-font);
    color: white;
    background-color: var(--main-purple);
    padding: 5px 25px;
    font-size: 1.75rem;
    border: 0px solid;
    border-radius: 5px;
    margin: 1rem auto;
    margin-left: 1rem;
}

input[type=text] {
    font-family: var(--body-font);
    font-size: 1.25rem;
    background-color: white;
    border: 1px solid var(--mid-gray);
    border-radius: 3px;
    padding: 5px;
}

input[type=text]:focus {
    outline: none;
    border: 1px solid var(--main-purple);
    background-color: var(--light-gray);
}

    /* Custom Radio Buttons Styling */
    .radio-btn-container {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 2rem;
    }
    
    .radio {
        position: relative;
    }
    
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    .checkmark {
        position: absolute;
        margin-left: -2rem;
        margin-top: 0.15rem; 
        height: 20px;
        width: 20px;
        background-color: rgb(93, 90, 114, 0.75);
        border-radius: 50%;
    }
    
    .checkmark:hover {
        background-color: rgba(125, 79, 204, 0.75);
      }
    
    .radio:checked ~ .checkmark {
        background-color: var(--main-purple);
      }
    
      .radio:checked ~ .checkmark:after {
        content: " ";
        position: absolute;
        left: 6px;
        top: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
          display: block;
      }

/* Styling relating to the results section of the page. */

.results {
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
    padding: 2rem;
    border-radius: 20px;
    font-family: var(--body-font);
    color: var(--dark-gray);
    font-size: 1.25rem;
    line-height: 1.75rem;
    align-items: flex-start;
}

.results h2 {    
    margin-top: 0.75rem;
    margin-bottom: 2.5rem;
}

.results h3 {
    font-family: var(--body-font);
    color: var(--main-purple);
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
    margin-top: 1.25rem;
}

.results img {
    margin-top: 25rem;
}

/* Styling related to the modal window, that shows alerts for the user. */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(125, 79, 204, 0.25);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-gray);
    padding: 1.5rem 2rem;
    width: 24rem;
    border-radius: 0.5rem;
    font-family: var(--body-font);
    color: var(--mid-gray);
    font-size: 1.5rem;
    z-index: 5;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: rgba(125, 79, 204, 0.5);
    font-size: 1rem;
    color: var(--dark-gray);
}

.close-button:hover {
    background-color: rgba(125, 79, 204, 0.85);
    color: white;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}



/* ---------Media Queries--------- */

@media only screen and (max-width: 1100px) {
    .res-img {
        margin-top: 2rem;
    }
    .results img {
        margin-top: 22rem;
    }
}

@media only screen and (max-width: 980px) {
    .flex-container {
        flex-direction: column;
    }

    .tip-form {
        margin-right: 4rem;
        margin-left: 4rem;
        margin-bottom: 2rem;
    }

    .results {
        margin-right: 4rem;
        margin-left: 4rem;
        margin-bottom: 2rem;
    }

    .res-img {
        max-width: 100%;
        margin-top: 1rem;
    }

    .results img {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 640px) {
    .tip-form {
        margin-right: 1rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
    }

    .results {
        margin-right: 1rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
    }
}