:root {
    --main-purple: #7d4fcc;
    --light-purple: #f5f0ff;
    --dark-gray: #444053;
    --mid-gray: #5d5a72;
    --light-gray: #e6e8ec;

    --title-font:  'Pacifico', cursive;
    --body-font: 'Josefin Slab', serif;
}


.hidden {
    display: none;
}

.title {
    font-family: var(--title-font);
    color: var(--main-purple);
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.sub-title {
    font-family: var(--title-font);
    color: var(--dark-gray);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.res-img {
    width: 100%;
    height: auto;
    max-width: 35vw;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: 0 auto;
}

.radio-btn-container {
    display: flex;
    flex-direction: column;
}

.calc-intro {
    font-family: var(--body-font);
    color: var(--dark-gray);
    font-size: 1.25rem;
    margin: 0 auto;
    width: 90vw;
}

.tip-form {
    background-color: var(--light-purple);
    padding: 2rem;
    border-radius: 20px;
    margin-right: 2rem;
}

#my-form {
    font-family: var(--body-font);
    color: var(--dark-gray);
    font-size: 1.25rem;
}
#my-form h3{
    font-family: var(--body-font);
    color: var(--main-purple);
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
}

#submit-btn {
    font-family: var(--title-font);
    color: white;
    background-color: var(--main-purple);
    padding: 5px 25px;
    font-size: 1.75rem;
    border: 0px solid;
    border-radius: 5px;
    margin: 1rem auto;
}